<!DOCTYPE html>
<html>
<head>
  <title>__TITLE__</title>
  <link rel='stylesheet' href='index.css' >
</head>
<body>
  <h1>Personal Information</h1>
  <p>Name: __NAME__</p>
  <p>Born: __BORN__</p>
  <p>Email: __EMAIL__</p>
  <p>Phone: __PHONE__</p>
  <p>LinkedIn: <a href="__LINKEDIN__">__LINKEDIN__</a></p>
  <p>Wordpress:<a href=" __WORDPRESS__"> __WORDPRESS__</a></p>
  <p>Github: <a href="__GITHUB__">__GITHUB__</a></p>

  <h1>Summary</h1>	
  <p>__SUMMARY__</p>

<h1>Personal Projects</h1>
 <ul>
  __PROJECTS__
 </ul>

<h1>Languages</h1>
  <ul>
    <li>Spanish</li>
    <li>English</li>
    <li>Swedish</li>
  </ul>

<h1>Skills</h1>
  <ul>
 __SKILLS__
  </ul>

 <h1>Work Experience</h1>
  <ul>
  __WORK_EXPERIENCE__
  </ul>


<h1>Education</h1>
<ul>
 __EDUCATION__
<ul>

<h1>Preferences</h1>
<p> __PREFERENCES__</p>

<strong>The dataset of this document can be found at: <a href="__DATASET__">Resume (JSON document)</strong>


</body>
</html>
